@font-face {
    font-family: "EuclidCircularA-Regular";
    src: url('../fonts/Euclid/EuclidCircularA-Regular.otf');
}

/* @font-face {
    font-family: "HelveticaNowTextRegular";
    src: url('../fonts/HelveticaNowTextRegular/font.woff');
} */

/* ==========================
        General
============================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "EuclidCircularA-Regular";
    color: #3A3A3A;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
li,
input,
label {
    font-family: "EuclidCircularA-Regular";
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

/* ==========================
        Nav
============================*/

nav div {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: #fff;
    z-index: 999;
}

nav div span {
    display: block;
    height: 3px;
    width: 40%;
    background-color: black;
    margin: 0 0 10% 10%;
}

nav div span:nth-of-type(2) {
    width: 70%;
}


/* ==========================
        Hero
============================*/

.hero {
    background-blend-mode: multiply;
    background: rgba(0, 0, 0, 0.3) url("../img/AliceStudioHero.jpeg") center / cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 5vh;
    padding-left: 5vw;
}

.hero-info {
    display: flex;
    align-items: baseline;
    font-size: 40px;
    font-family: "EuclidCircularA-Regular";
}

.hero-info p {
    color: white;
    font-family: "EuclidCircularA-Regular";
}

.hero-info div {
    padding-left: 10px;
}

.hero-text-wrapper {
    /* width: 300px; */
    height: 100px;
    overflow: hidden;
}

.hero-text-wrapper p {
    line-height: 100px;
    animation: textloop 6s infinite ease-in-out;
    position: relative;
    margin-left: 5px;
}

@keyframes textloop {
    0% {
        top: 0;
    }

    20% {
        top: -100px;
    }

    25% {
        top: -100px;
    }

    50% {
        top: -200px;
    }

    55% {
        top: -200px;
    }

    75% {
        top: -300px;
    }

    80% {
        top: -300px;
    }
}

.hero i {
    color: #3A3A3A;
    font-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* ==========================
        Info
============================*/

.info {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 30vw 0 10vw;
}

.info p {
    font-size: 36px;
}

/* ==========================
        alice alle 3 größen
============================*/

.alice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
    position: sticky;
    top: 0;
}

.one {
    z-index: 1;
}

.m {
    z-index: 3;
}

.studio {
    z-index: 5;
}

.alice-info {
    background: #E5E5E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.alice-info h2 {
    font-size: 40px;
    margin-bottom: 50px;
    padding-left: 20px;
}

.alice-info p {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 5vw;
    font-size: 24px;
}

.alice-info a {
    width: 45%;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    color: #3A3A3A;
    font-size: 20px;
    background: linear-gradient(to right, #e8ee7b 50%, #E5E5E1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.alice-info a:hover {
    background-position: left bottom;
}

.alice-bild {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0ee;
}

.alice-bild img {
    width: 90%;
}

/* ==========================
    alice grundriss alle 3 größen
============================*/

.alice-grundriss {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
    position: sticky;
    top: 0;
}

.one-grundriss {
    z-index: 2;
}

.m-grundriss {
    z-index: 4;
}

.studio-grundriss {
    z-index: 6;
}

.alice-info-grundriss {
    visibility: hidden;
    padding: 10vh 5vw 35vh 3vw;
    background: #E5E5E1;
}

.alice-info-grundriss h2 {
    font-size: 24px;
    margin-bottom: 50px;
}

.alice-info-grundriss p {
    font-size: 16px;
    margin-bottom: 50px;
    padding-right: 5vw;
    font-size: 20px;
}

.alice-info-grundriss a {
    font-size: 16px;
    color: #3A3A3A;
}

.alice-bild-grundriss {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    background: white;
}

.alice-bild-grundriss img {
    width: 90%;
}

/* ==========================
        whyAlice
============================*/

.whyAlice .whyAlice-headline {
    padding: 10vh 10vw 8vh 3vw;
    margin-top: 10vh;
    width: 50%;
}

.whyAlice .whyAlice-headline h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.whyAlice .whyAlice-headline p {
    font-size: 20px;
}

.whyAlice article {
    display: flex;
    align-items: baseline;
    padding: 10vh 0 5vh 0;
}

.whyAlice article div {
    width: 50%;
}

.whyAlice article div:nth-of-type(2) {
    padding: 0 10vw 0 0;
}

.whyAlice article div:nth-of-type(2) p {
    font-size: 30px;
}

.whyAlice article div:first-child ul {
    list-style: none;
    padding-left: 3vw;
    font-size: 28px;
    padding-bottom: 15vh;
}

.whyAlice #list-mouseover p {
    margin-bottom: 30px;
}

/* ==========================
        whateverYouWant
============================*/

.whateverYouWant {
    padding: 5vh 0;
    background: #e5e3e0;
}

.whateverYouWant-headline {
    width: 45%;
    padding: 15vh 0 10vh 3vw;
}

.whateverYouWant-headline h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.whateverYouWant-headline p {
    font-size: 20px;
}

.whateverYouWant-scenario {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 10vh 0 25vh 0;
}

.whateverYouWant-scenario h3 {
    font-size: 28px;
    color: #3A3A3A;
    background: #E8EE7B;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
}

.whateverYouWant-scenario p {
    font-size: 20px;
    padding-left: 15px;
    color: #3A3A3A;
}

/* ==========================
        Slider
============================*/

.slider {
    height: 100vh;
    background: url("../img/Stage-One.png") center 70% / cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s linear;
}

.slider i {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 3%;
}

.slider i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255);
}

/* ==========================
        factsheet
============================*/

.factsheet {
    padding-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.factsheet div h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.factsheet div {
    padding: 13vh 5vw;
}

.factsheet div img {
    width: 80%;
}

/* ==========================
        partner
============================*/

.partner {
    background: #D9D7D2;
}

.partner-headline {
    width: 40%;
    padding: 15vh 0 15vh 3vw;
}

.partner-headline h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.partner-headline p {
    font-size: 16px;
}

.partner-list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 10vh 0 25vh 0;
}

.partner-list div {
    text-align: center;
}

.partner-list div img {
    width: 70%;
}


/* ==========================
        waitingList
============================*/

.waitingList {
    padding-top: 20vh;
    display: flex;
    background: #1D1D1D;
    color: white;
}

.waitingList-input {
    padding: 3vh 10vw 0 10vw;
}

.waitingList-input p:nth-of-type(1) {
    padding-bottom: 5vh;
    font-size: 32px;
    color: white;
}

.waitingList-input p:nth-of-type(2) {
    padding-bottom: 20vh;
    color: white;
}

.waitingList-input form {
    padding: 3vh 0;
    margin-bottom: 5vh;
}

.waitingList-input form label {
    font-size: 16px;
    color: white;
}

.waitingList-input form input[type="email"] {
    width: 60%;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    display: block;
    margin: 5px 0 10vh 0;
    font-size: 16px;
    color: white;
}

.waitingList-input form input[type="submit"] {
    padding: 8px 40px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.5s linear;
}

.waitingList-input form input[type="submit"]:hover {
    box-shadow: 0 0 6px white;
    transition: all 0.5s linear;
    cursor: pointer;
}

.waitingList-legals {
    padding: 5vh 10vw 0 3vw;
    display: flex;
    flex-direction: column;
    border-left: 1px solid white;
}

.waitingList-legals h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
}

.waitingList-legals ul {
    list-style: none;
}

.waitingList-legals ul li {
    padding-bottom: 10px;
}

.waitingList-legals ul li a {
    text-decoration: none;
    color: #fff;
}

.waitingList-legals ul li a:hover {
    text-decoration: underline;
}


/* ==========================
        faq
============================*/

.faq {
    margin: 22vh 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}

.faq div {
    margin-bottom: 20px;
}

.accordion {
    position: relative;
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
}

.accordion:after {
    position: absolute;
    content: '\002B';
    color: #777;
    font-weight: bold;
    top: 18px;
    right: 0;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* ==========================
        footer
============================*/

footer {
    padding: 10vh 0 0 0;
    background: linear-gradient(to bottom right, white, orange);
    animation-name: animateBackground;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

footer h2 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 10vh;
}

footer div:nth-of-type(1) {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

footer div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer div:nth-of-type(1) p {
    font-size: 24px;
}

footer div a {
    font-size: 24px;
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
}

/* ==========================
        keyframes
============================*/

@keyframes animateBackground {
    0% {
        filter: hue-rotate(0)
    }

    25% {
        filter: hue-rotate(-90deg)
    }

    50% {
        filter: hue-rotate(-180deg)
    }

    75% {
        filter: hue-rotate(-90deg)
    }

    100% {
        filter: hue-rotate(0);
    }
}